<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pkgyt.TC1"/>
      <class name="pkgyt.TC2"/>
      <class name="pkgyt.TC3"/>
      <class name="pkgyt.TC4"/>
      <class name="pkgyt.TC5"/>
      <class name="pkgyt.TC6"/>
      <class name="pkgyt.TC7"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
